<ion-header color="favorite">
  <ion-toolbar color="favorite">
    <div>
      <img style="max-width: 100% !important;border: 0 !important;margin-top: 5px !important;margin-left: 10px"
        src="assets/img/logo02.png" width="20%">
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="openFirst()" color="light">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar style="padding: 5px" color="favorite">
    <ion-item style="--border: 0px solid white !important;--border-radius: 5px  !important;">
      <ion-label no-pagging>Filtro</ion-label>
      <ion-select no-pagging placeholder=".: Selecione :.">
        <ion-select-option value="1">Asignado</ion-select-option>
        <ion-select-option value="2">No asignado</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<!-- 
<div padding text-center style="background: #ECECEC;">
  <p style="font-size: 25px;margin: 0px;"><b>Servicios</b></p>
</div> -->

<ion-content>
  <ion-card no-padding>
    <ion-card-header>
      <ion-card-title>Cod Pe - 2342523623</ion-card-title>
      <ion-card-subtitle>Tipo: <a style="color: #30205d">Subasta</a></ion-card-subtitle>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col no-padding style="display: flex;justify-content: start;align-items: center;">
            <ion-card-subtitle>Estado: <a style="color: #30205d">En proceso</a></ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle>Fecha: <a style="color: #30205d">28/07/2019</a></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card no-padding>
    <ion-card-header>
      <ion-card-title>Cod Pe - 2342523623</ion-card-title>
      <ion-card-subtitle>Tipo: <a style="color: #30205d">Subasta</a></ion-card-subtitle>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col no-padding style="display: flex;justify-content: start;align-items: center;">
            <ion-card-subtitle>Estado: <a style="color: #30205d">En proceso</a></ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle>Fecha: <a style="color: #30205d">28/07/2019</a></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card no-padding>
    <ion-card-header>
      <ion-card-title>Cod Pe - 2342523623</ion-card-title>
      <ion-card-subtitle>Tipo: <a style="color: #30205d">Subasta</a></ion-card-subtitle>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col no-padding style="display: flex;justify-content: start;align-items: center;">
            <ion-card-subtitle>Estado: <a style="color: #30205d">En proceso</a></ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle>Fecha: <a style="color: #30205d">28/07/2019</a></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card no-padding>
    <ion-card-header>
      <ion-card-title>Cod Pe - 2342523623</ion-card-title>
      <ion-card-subtitle>Tipo: <a style="color: #30205d">Subasta</a></ion-card-subtitle>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col no-padding style="display: flex;justify-content: start;align-items: center;">
            <ion-card-subtitle>Estado: <a style="color: #30205d">En proceso</a></ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle>Fecha: <a style="color: #30205d">28/07/2019</a></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>



</ion-content>