ion-content{
    --ion-background-color:#ECECEC;
            ion-item {
            --highlight-color-valid: transparent;
            --highlight-color-invalid: transparent;
             --highlight-color-focused: transparent;
            --border-color : transparent;
            // --background: white;
                     }

                     .check{
                        --background: white;   
                     }

                     ion-card{
                        --background:white;
                        border-left: 5px solid #30205d !important;
                                }
            ion-input{
            --background:white;
            padding: 5px !important;
            margin-top: 10px !important;
                     }
                     ion-item .has-focus {
                        border: 2px solid #30205d !important;
                        }
            ion-button{
            --border-radius: none !important;
            height: 40px;
                      }

                      hr {
                        // border: 2px solid red !important;
                        height: 3px !important;
                        width: 15% !important;
                        background: orange !important;
                        display: block !important;
                        font-size: 2em !important;
                        opacity: 1 !important;
                        visibility: visible !important;
                      }

                      .wrapper {
                        position: relative;
                        overflow: hidden;
                        width: 600px;
                        height: 370px; 
                        border: 1px solid black;
                    }
                    
                    .efecto {
                        position: absolute;
                        right: -500px;
                        width: 100%;
                        -webkit-animation: efecto 0.2s forwards;
                        -webkit-animation-delay:  0.2s;
                        animation: efecto 0.2s forwards;
                        animation-delay:  0.2s;
                    }
                    
                    @-webkit-keyframes efecto {
                        100% { right: 0; }
                    }
                    
                    @keyframes efecto {
                        100% { right: 0; }
                    }

                    .skeleton {
                        animation: loading 1.7s infinite linear;
                        background: #E6E6E6;
                        background-image: -webkit-linear-gradient(to right, #E6E6E6 0%, #ffffff 20%, #E6E6E6 40%, #E6E6E6 100%);
                        background-image: linear-gradient(to right, #E6E6E6 0%, #ffffff 20%, #E6E6E6 40%, #E6E6E6 100%);
                        background-repeat: no-repeat;
                        height: 80px;
                    }
                    
                    @keyframes loading {
                      0% {
                        background-position: -100px;
                      }
                    
                      100% {
                        background-position: 200px;
                      }
                    }
                    
            }
            