<ion-header>
  <ion-toolbar color="favorite">
    <ion-title color="light">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar(0)">
        <ion-icon color="light" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-card no-padding *ngFor="let servicio of servicios" (click)="click_empresa(servicio._id,servicio.price)">
    <ion-card-header>
      <ion-card-title *ngIf="servicio.user.businessName">Empresa: <a
          style="color: #30205d">{{servicio.user.businessName}}</a>
      </ion-card-title>
      <ion-card-title>Precio: <a style="color: #30205d">S/. {{servicio.price}}</a>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>