<ion-header color="favorite">
  <ion-toolbar color="favorite">
    <div>
      <img style="max-width: 100% !important;border: 0 !important;margin-top: 5px !important;margin-left: 10px"
        src="assets/img/logo02.png" width="20%">
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="openFirst()" color="light">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar style="padding: 5px" color="favorite">
    <ion-item style="--border: 0px solid white !important;--border-radius: 5px  !important;">
      <ion-label no-pagging>Categoria</ion-label>
      <ion-select cancelText="Cancelar" no-pagging placeholder=".: Selecione :." interface="action-sheet"
        (ionChange)="changeEnvironment($event)">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria._id">
          {{ categoria.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <p *ngIf="div_select" style="margin: 5px;"></p>
    <ion-item style="--border: 0px solid white !important;--border-radius: 5px  !important;" *ngIf="div_select">
      <ion-label no-pagging>Subcategoria</ion-label>
      <ion-select no-pagging placeholder=".: Selecione :." interface="action-sheet">
        <ion-select-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria._id">{{ subcategoria.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" slot="fixed" refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div padding *ngIf="cero_datos">
    <img src="assets/img/warning.png" style="width: 30% !important;display:block;margin:auto">
    <h1 text-center>Sin datos</h1>
  </div>

  <div *ngIf="con_datos">
    <ion-card class="ion-activatable" *ngFor="let orden of ordenes" no-padding style="padding-left: 10px"
      (click)="click_pedido(orden._id)">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-grid style="height: 100%">
        <ion-row style="height: 100%; flex-direction: row">
          <ion-col style="height: 100%;" size="6" align-self-center>
            <div style="font-size: 20px;color: #30205d"><b>{{ orden.code}}</b></div>
          </ion-col>
          <ion-col style="height: 100%;" size="6" align-self-center justify-content-end>
            <div style="font-size: 20px;color: #30205d"><b>s./ {{ orden.price }}</b></div>
          </ion-col>
        </ion-row>
        <ion-row style="height: 100%; flex-direction: row">
          <ion-col>
            <div><b>{{ orden.category.name }} - {{ orden.subcategory.name }}</b></div>
          </ion-col>
        </ion-row>
        <ion-row style="height: 100%; flex-direction: row">
          <ion-col size="12">
            <div>{{ orden.initPlace }}</div>
          </ion-col>
          <ion-col size="12">
            <div>{{ orden.endPlace }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="sin_datos">
    <ion-card class="skeleton" style="padding: 15px">
      <ion-grid style="height: 100%">
        <ion-row>
          <ion-col>
            <ion-card-title></ion-card-title>
          </ion-col>
          <ion-col style="display: flex;justify-content: flex-end;align-items: center;">
            <ion-card-subtitle></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="skeleton" style="padding: 15px">
      <ion-grid style="height: 100%">
        <ion-row>
          <ion-col>
            <ion-card-title></ion-card-title>
          </ion-col>
          <ion-col style="display: flex;justify-content: flex-end;align-items: center;">
            <ion-card-subtitle></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="skeleton" style="padding: 15px">
      <ion-grid style="height: 100%">
        <ion-row>
          <ion-col>
            <ion-card-title></ion-card-title>
          </ion-col>
          <ion-col style="display: flex;justify-content: flex-end;align-items: center;">
            <ion-card-subtitle></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <ion-infinite-scroll threshold="160px" (ionInfinite)="siguiente($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando pedidos..">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>