ion-content {
  --ion-background-color: #ececec;
  ion-item {
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: transparent;
    --border-color: transparent;
    --border: 0px solid white !important;
    --border-radius: 20px !important;
  }
  ion-input {
    --background: white;
    // padding: 5px !important;
    // margin-top: 10px !important;
    border: 2px solid #30205d !important;
  }
  ion-button {
    --border-radius: none !important;
    height: 40px;
  }
  ion-card {
    --background: white;
    border-left: 5px solid #30205d !important;
  }
  .imagen {
    max-width: 100% !important;
    border: 0 !important;
    margin-top: 5px !important;
  }
  .my-custom-menu {
    --width: 500px;
  }
}
.circulo_verde {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
}

.circulo_rojo {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: red;
}
ion-select {
  max-width: 70% !important;
}

.skeleton {
  animation: loading 1.7s infinite linear;
  background: #e6e6e6;
  background-image: -webkit-linear-gradient(
    to right,
    #e6e6e6 0%,
    #ffffff 20%,
    #e6e6e6 40%,
    #e6e6e6 100%
  );
  background-image: linear-gradient(
    to right,
    #e6e6e6 0%,
    #ffffff 20%,
    #e6e6e6 40%,
    #e6e6e6 100%
  );
  background-repeat: no-repeat;
  height: 160px;
}

@keyframes loading {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 200px;
  }
}

ion-button {
  ion-badge {
    position: absolute;
    opacity: 0.9;
    top: 0.1rem;
    right: 0.2rem;
    & ~ ion-icon {
      margin-right: 1.2rem;
    }
  }
}
