ion-content{
    --ion-background-color:#ECECEC;
            ion-item {
            --highlight-color-valid: transparent;
            --highlight-color-invalid: transparent;
             --highlight-color-focused: transparent;
            --border-color : transparent;
                     }
            ion-input{
            --background:white;
            padding: 5px !important;
            margin-top: 10px !important;
                     }
                     ion-item .has-focus {
                        border: 2px solid #30205d !important;
                        }
            ion-button{
            --border-radius: none !important;
            height: 45px;
            width: 100px;
                      }
            }
            .padre {
                /* IMPORTANTE */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
              }