<ion-header>
  <ion-toolbar color="favorite">
    <ion-title color="light">Datos del pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon color="light" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <ion-card ion-activatable no-padding *ngIf="estado">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
      <ion-grid fixed no-padding>
        <ion-row no-padding>
          <ion-col text-start size="5">
            <ion-card-subtitle>N° de pedido</ion-card-subtitle>
          </ion-col>
          <ion-col text-start>
            <ion-card-subtitle><a style="color: black">{{ detalle.code }}</a>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col text-start size="5">
            <ion-card-subtitle>Tipo de pedido</ion-card-subtitle>
          </ion-col>
          <ion-col text-start>
            <ion-card-subtitle *ngIf="detalle.type == 1"><a style="color: black">Subasta</a></ion-card-subtitle>
            <ion-card-subtitle *ngIf="detalle.type == 2"><a style="color: black">Precio ofertado</a>
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="detalle.type == 3"><a style="color: black">Precio sugerido</a>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col text-start size="5">
            <ion-card-subtitle>Lugar de inicio</ion-card-subtitle>
          </ion-col>
          <ion-col text-start>
            <ion-card-subtitle><a style="color: black">{{ detalle.initPlace }}</a>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col text-start size="5">
            <ion-card-subtitle>Lugar de destino</ion-card-subtitle>
          </ion-col>
          <ion-col text-start>
            <ion-card-subtitle><a style="color: black">{{ detalle.endPlace }}</a>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col text-start size="5">
            <ion-card-subtitle>Monto</ion-card-subtitle>
          </ion-col>
          <ion-col text-start>
            <ion-card-subtitle><a style="color: black">S/. {{ detalle.price }}</a>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <div>
    <div *ngIf="servicios.length > 0" padding text-start>
      <p style="font-size: 25px;margin: 0px;"><b>Servicios adicionales</b></p>
    </div>
    <ion-card ion-activatable no-padding *ngFor="let servicio of servicios"
      (click)="add_services(servicio._id,servicio.name)">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-card-header>
        <ion-card-title>{{servicio.name}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <div>
    <div *ngIf="costos.length > 0" padding text-start>
      <p style="font-size: 25px;margin: 0px;"><b>Costos adicionales</b></p>
    </div>
    <ion-card style="padding:0px !important" *ngFor="let costo of costos">
      <ion-card-content style="padding:5px !important">
        <ion-item style="--background:white;">
          <ion-card-title>{{ costo.servicio }} : <a style="color: #30205d">S/. {{ costo.monto }}</a></ion-card-title>
          <ion-button (click)="eliminar_costo(costo._id)" slot="start" fill="clear">
              <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar color="favorite" (click)="pagar()">
    <ion-title text-center color="light">Pagar <b>S/. {{ total }}</b></ion-title>
  </ion-toolbar>
</ion-footer>