<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light">Negociación</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-padding class="sample-modal-page">

  <ion-card>
    <ion-card-header no-padding>
      <ion-grid >
        <ion-row style="width: 100%">
          <ion-col size="4" style="display: flex;justify-content: flex-start;align-items: flex-start;">
            <img src="assets/img/UC17.png" alt="">
          </ion-col>
          <ion-col size="8">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card-title>Carlos Villagomes</ion-card-title>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-card-subtitle>Formalidad</ion-card-subtitle>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2" *ngFor="let star of [1,1,1,1,1]">
                  <ion-icon color="favorite" style="zoom: 2;" name="star"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <ion-card-title>Tu oferta</ion-card-title>
          </ion-col>
          <ion-col text-center>
            <ion-card-title>Nueva oferta</ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <ion-card-title color="primary">s/ 16000</ion-card-title>
          </ion-col>
          <ion-col text-center>
            <ion-card-title color="danger">s/ 36000</ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col text-center size="6">
            <ion-button expand="block" color="favorite">Aceptar</ion-button>
          </ion-col>
          <ion-col text-center size="6">
            <ion-button (click)="click_Contraofertar()" fill="outline" expand="block" color="favorite">Contraofertar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>