ion-content{
    --ion-background-color:#ECECEC;
            ion-item {
            --highlight-color-valid: transparent;
            --highlight-color-invalid: transparent;
             --highlight-color-focused: transparent;
            --border-color : transparent;
                     }
            ion-input{
            --background:white;
            padding: 5px !important;
            margin-top: 10px !important;
            border: 2px solid #30205d !important;
                     }
            ion-button{
              // margin: 0%;
            // --border-radius: none !important;
            height: 40px;
                      }
            ion-card{
            --background:white;            
            border-left: 5px solid #30205d !important;
                    }
                    hr {
                        // border: 2px solid red !important;
                        height: 1px !important;
                        width: 100% !important;
                        background: gray !important;
                        display: block !important;
                        font-size: 2em !important;
                        opacity: 1 !important;
                        visibility: visible !important;
                      }
                      img{
                        width: 80% !important;
                        display:block;
                        margin:auto;
                }
            }
            